
.info{
    height: 100% !important;
    color: white;
    justify-content: space-around;
}
.mymodal .modal-dialog {
height: fit-content !important;
}
.mymodal .modal-content {
    height: 100% !important;
}
.mymodal *{
color: black !important;
}
.t2seet{
    color: red !important;
    border-bottom: 1px solid #8E8E8E !important;
    border-radius: 0px !important;
}