.textright {
  text-align: right !important;
}
tr {
  background-color: white !important;
  cursor: pointer !important;
}
.table-striped > tbody > tr:nth-of-type(2n + 1) > * {
  --bs-table-color-type: var(--bs-table-striped-color);
  --bs-table-bg-type: white !important;
}
.ulbanks * {
  font-weight: 400 !important;
  color: #343a40 !important;
}
@media(max-width:568px) {
  .soraelectronic{
    width: 7.9rem !important;
    object-fit: contain !important;
  }
}
@media(min-width:568px )and (max-width:900px) {
  .soraelectronic{
    width: 12rem !important;
    object-fit: contain !important;
  }
}
